/* 
File Name default.css
Version 3.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

/* Reset */
@import 'reset';
@import 'bootstrap-responsive';

/* Padding */
$pad: 15px;

/* Paragraph */
$font-paragraph: sans-serif;
$font-paragraph-size: 16px;
$font-paragraph-line-height: 26px;

/* Title */
$font-title: sans-serif;
$font-title-weight: 400; 
$font-title-line-height: 1.1em;

/* Block */
$max-width-a: 940px;

/*Colors*/
$color-error: red;
$color-gray: #eee;

$border-color-a: #aaa;
$border-color-b: #666;

/*mixin*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin box-shadow($shadow) { box-shadow:$shadow; -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; -o-box-shadow:$shadow; }
@mixin filter-blur($filter) { filter:blur($filter); -webkit-filter:blur($filter); -moz-filter:blur($filter);-o-filter: blur(5px);-ms-filter:blur($filter); }
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }


body { line-height:$font-paragraph-line-height; font-family:$font-paragraph; height:100%; }
#page { position:relative; font-size:$font-paragraph-size; height:100%; }
.outer-wrap { position:relative; height:100%; }
.inner-wrap { max-width:$max-width-a; padding-left:$pad; padding-right:$pad; position:relative; margin:0 auto; text-align:left; }

a, a:visited { text-decoration:none; }

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
	font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	padding-bottom:$pad; padding-top:($pad/2);
}
.h1, h1 { font-size:50px; }
.h2, h2 { font-size:44px; }
.h3, h3 { font-size:38px; }
.h4, h4 { font-size:34px; }
.h5, h5 { font-size:30px; }
.h6, h6 { font-size:25px; }






/* Forms
#################################################################################################### */
textarea,
input[type="text"],
input[type="password"],
input[type="email"] { 
	font-size:$font-paragraph-size; font-family:$font-paragraph;
	width:97%;
	border:solid 1px $border-color-a; border-top-color:$border-color-b; padding:3px 1%;
}
textarea { height:100px; }
label.error { color:$color-error; }

/* remove webkit css
select, input, textarea { -webkit-appearance: none; }*/

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {}






/* Buttons
#################################################################################################### */
.btn,
input[type="submit"],input[type="button"] {
	cursor:pointer; display:inline-block; padding:($pad/2) ($pad);
	background:$color-gray; border:none; font-size:$font-paragraph-size; font-family:$font-paragraph;
}






/* General Links
#################################################################################################### */


/* Main Navigation Links */
#primary-navigation {
	li { display:inline-block; }
	a { display:inline-block; padding:0 ($pad/2); margin:0 ($pad/2); }
	.current-menu-item a, a:hover {}
}


/* footer-navigation */
#footer-navigation {
	li { display:inline-block; }
	a { display:inline-block; padding:0 ($pad/2); margin:0 ($pad/2); }
}


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:($pad/4) ($pad/2);
	.prev-post { padding-left:($pad/2); }
	.next-post { padding-right:($pad/2); }
}

.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }
#loop-default {
	padding-bottom:($pad*4);
	.hentry { padding:($pad*4) 0 ($pad*2) 0; }
	.hentry:first-child { padding:0 0 ($pad*2) 0; }
}



/* Meta Data */
.meta-data { font-style:italic; padding-bottom:$pad; }

.post-comments { padding:0 $pad 0 0; }
.post-date { padding:0 $pad 0 0; }
.read-more-dots { display:none; }



/* Entry - Excerpt */
#loop-default {
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}

a.read_more { text-decoration:underline; font-style:italic; display:block; }

.entry {
	.aligncenter { display:block; margin:0 auto $pad; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:$pad; margin-bottom:3px; }
	.alignright { margin-left:$pad; margin-bottom:3px; }
	img { max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:($pad*2); }
    blockquote {
		p { padding:0; margin:$pad ($pad*3) ($pad*1.5) ($pad*1.5); }
	}
	ol, ul { margin:$pad 0 ($pad*2) 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table {
		line-height:18px;
		td { padding-right:7px; vertical-align:top; }
	}
} /*end .entry */

.excerpt p { padding-bottom:($pad*2); }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}






/* Widget Areas
#################################################################################################### */
.sidebar ul {
	ul {}
	li { margin-bottom:10px; }
	li li { margin:0; }
	.widget-box {}
}






/* Blocks
#################################################################################################### */

#header, #footer {
	.inner-wrap { padding-top:$pad; padding-bottom:$pad; }
}






/* Comments */
@import 'comments';
/*Responsive*/
@import 'responsive';