/* 
File Name default.css
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */


@import 'mixins';


$transition: all 0.1s ease-in;
$radius: 4px;

/* Paragraph */
$font-paragraph: sans-serif;
$font-paragraph-size: 15px;
$font-paragraph-line-height: 26px;

/* Title */
$font-title: serif;
$font-title-weight: 400; 
$font-title-line-height: 1.1em;

/* Block */
$max-width-a: 940px;
$max-width-b: 768px;
$max-width-c: 568px;
$max-width-d: 480px;

/*Gray*/
$gray-a: #fafafa;
$gray-b: #adadad;
$gray-c: #a3a3a3;

/*Red*/
$red-a: #f5cdca;
$red-b: #dd5951;

/* Reset */
@import 'reset';
@import 'bootstrap-responsive';

html { height:100%; }
body { line-height:$font-paragraph-line-height; font-family:$font-paragraph; }
#page { position:relative; font-size:$font-paragraph-size; @extend .clearfix; }
.outer-wrap { position:relative; }
.inner-wrap { max-width:$max-width-a; padding-left:10px; padding-right:10px; position:relative; margin:0 auto; text-align:left; }

.a, a, a:visited { cursor:pointer; text-decoration:none; }

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
	font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	padding-bottom:10px; padding-top:5px;
}

.h1, h1 { font-size:46px; }
.h2, h2 { font-size:40px; }
.h3, h3 { font-size:36px; }
.h4, h4 { font-size:30px; }
.h5, h5 { font-size:26px; }
.h6, h6 { font-size:20px; }






/* custom mixins
#################################################################################################### */
@mixin remove-section-main-inner-wrap() {
	.inner-wrap.section-main-inner-wrap { max-width:100000px; padding:0; }
	#section-main { padding-top:0; }
}







/* Forms
#################################################################################################### */
textarea,
input[type="text"],
input[type="password"],
input[type="email"] { 
	font-size:$font-paragraph-size; font-family:$font-paragraph;
	width:95%; padding:6px 2%;
	border:none; background:$gray-a; @include border-radius();
}
textarea { height:100px; }
label.error { color:$red-a; }
label { cursor:pointer; }

/* remove webkit css */
select, input, textarea { 
	-webkit-appearance: none; 
	-moz-appearance:window;
}
select::-ms-expand {
    display: none;
}

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {
	
}






/* Buttons
#################################################################################################### */
.btn, 
input[type="submit"],input[type="button"], button {
	cursor:pointer; display:inline-block; padding:6px 20px; background:$gray-a; border:none;
	line-height:$font-paragraph-line-height; font-family:$font-paragraph; font-size:$font-paragraph-size;
}

.btn:hover,
input[type="submit"]:hover,input[type="button"]:hover, button:hover {
	
}






/* General Links
#################################################################################################### */


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:2.5px 5px;
	.prev-post { padding-left:5px; }
	.next-post { padding-right:5px; }
}

.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */


/* Meta Data */
.meta-data { 
	color:$gray-b; font-family:$font-title; font-style:italic;
	display:block; padding:10px; 
	.post-date, .post-category, .post-comments {
		padding:0 10px 0 0;
	}
}
.read-more-dots {}
.read-more {}

.entry {
	.aligncenter { display:block; margin:0 auto 10px; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:10px; margin-bottom:3px; }
	.alignright { margin-left:10px; margin-bottom:3px; }
	img { max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:20px; }
    blockquote {
		p { padding:0; margin:10px 30px 15px 15px; }
	}
	ol, ul { margin:10px 0 20px 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table {
		line-height:18px;
		td { padding-right:7px; vertical-align:top; }
	}
} /*end .entry */

.excerpt p { padding-bottom:20px; }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}



#section-loop-default {
	.hentry { padding:30px 0 20px 0; }
	.hentry:first-child { padding:0 0 20px 0; }
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}






/* Widget Areas
#################################################################################################### */
.sidebar {
	ul {}
	li { margin-bottom:10px; }
	li li { margin:0; }
	.widget-box {}
}






/* Blocks
#################################################################################################### */

#header {
	#primary-navigation {
		li { display:inline-block; }
		a { display:inline-block; padding:0 20px; margin:0; @include transition($transition); }
		.current-menu-item a, a:hover {}
	}
}
#footer {
	.inner-wrap { text-align:center; padding:10px; }
	#footer-navigation {
		li { display:inline-block; }
		a { display:inline-block; padding:0 10px; margin:0; }
	}
}






/* Comments */
@import 'comments';
/*Responsive*/
@import 'responsive';